<h1>Sam's Ruby Page</h1>

<p>Using some html with erb</p>
<p>
The time is now <%= Time.now %>
</p>
<ul>
	<% ['Ruby', 'Rails'].each do |lang| %>
	<li><%= "Using #{lang} is much more fun than using Java or C" %></li>
	<%end%>
</ul>
</p>
<% name = 'sam' %>
<h2><%= name.upcase %></h2>
<p>
<% words = ['uniform', 'resource', 'identifier'] %>
<%= "URI stands for #{words.join(" ")}. URL is a type of URI." %>
</p>